body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
header { 
    width: 100%;
    height: 60px;
    box-shadow: #73d04a 0 0.5px 3px;
}
  
.logo {
    float: left;
    margin-left: 10px;
}
  
.logo h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin: .8em 0 .3em 10px;
    display: inline-block;
}
  
.logo img {
    max-width: 60px;
    float: left;
}
  
nav {
    float: right;
}
  
nav ul, li {
    margin: 0; 
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}